.holder {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  margin: 3rem;
  padding: 0.5rem;
  width: fit-content;
  border: solid 2px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.search-bar > input {
  border: none;
  outline: none;
  min-width: 15rem;
}

.item {
  padding: 1.5rem;
}

.title {
  margin-top: 1rem;
}
